/data/*
!/data/.gitkeep

/PrivDNN/__pycache__/

/log/*
!/log/.gitkeep

/saved_models/*
!/saved_models/.gitkeep
!/saved_models/MNIST/.gitkeep
!/saved_models/EMNIST/.gitkeep
!/saved_models/GTSRB/.gitkeep
!/saved_models/CIFAR10/.gitkeep

/.vscode/
/seal/data/
/seal/output/
/seal/src/interact/build/
