/data/*
!/data/.gitkeep

**/__pycache__/**

/analyze_result/**/*.npy
/analyze_result/**/*.png

/log/*
!/log/.gitkeep

/saved_models/MNIST/*
!/saved_models/MNIST/.gitkeep
/saved_models/EMNIST/*
!/saved_models/EMNIST/.gitkeep
/saved_models/GTSRB/*
!/saved_models/GTSRB/.gitkeep
/saved_models/CIFAR10/*
!/saved_models/CIFAR10/.gitkeep

/seal/data/
/seal/output/
/seal/src/interact/build/
/seal/src/interact/path.h

/.vscode/
